name: Unit Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "*" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9"]
        recipes-version: [
          "pangeo-forge-recipes==0.9.4",
          "pangeo-forge-recipes==0.10.0",
        ]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: 'Set up Cloud SDK'
      uses: 'google-github-actions/setup-gcloud@v0'
    - name: 'Setup minio + mc'
      run: |
        wget --quiet https://dl.min.io/server/minio/release/linux-amd64/minio
        chmod +x minio
        mv minio /usr/local/bin/minio

        wget --quiet https://dl.min.io/client/mc/release/linux-amd64/mc
        chmod +x mc
        mv mc /usr/local/bin/mc

        minio --version
        mc --version

    - name: Install dependencies & our package
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r dev-requirements.txt
        python -m pip install -e .
        python -m pip install -U ${{ matrix.recipes-version }}

    - name: Test with pytest
      run: |
        pytest -vvv -s --cov=pangeo_forge_runner tests/unit/

    - name: Upload Coverage to Codecov
      uses: codecov/codecov-action@v2
